{% load i18n django_bootstrap5 %}

{# obecny modal formular #}
{% if method == 'POST' %}
  <form action="{{ request.path }}" class="modal-content" method='POST'>{% csrf_token %}
{% else %}
  <form hx-post="{{ request.path }}" class="modal-content">
{% endif %}

  <div class="modal-header">
    <h5 class="modal-title">{{ title|safe }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">

      {% comment %} {% bootstrap_form %} {% endcomment %}
      {{ form }}

      {# info section #}
      <section id="show_data"></section>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      {% trans 'zrušit' %}
    </button>
    <button type="submit" class="btn btn-primary">
      {% trans 'uložit' %}
    </button>
  </div>

</form>
